<h3 class="month-name"><%= @current_month.name %></h3>
<br/>

<% @week_rows.times do |wk| %>
  <div class="week">

    <% @days.where(row: wk).each do |day| %>
      <div class="day"
           style="background-color: <%= day.color %>; opacity: <%= day.transparency %>;"
           id="<%= wk.to_s + '-' + day.block.to_s %>"
           onclick="<% if day.clickable %>
                    <%= 'practiced(event,' + day.id.to_s + ')' %>
                    <% end %>"
      >
        <div class="practiced" style="display: none"><%= day.practiced %></div>
        <div class="streak"    style="display: none"><%= day.streak %></div>
        <div class="date"><%= day.date.to_s[-2..-1] %></div>
        <div class="minutes"><%= if day.minutes then day.minutes.to_s + ' mins' end %></div>
      </div>
    <% end %>

  </div>
<% end %>