<!DOCTYPE html>
<html>
<head>
  	<title>Cool Hands</title>
  	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700" rel="stylesheet">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

	<%= favicon_link_tag 'piano.png' %>

  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
